@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Serif", serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.section-title{
    font-size: 30px;
    font-weight: 700;
    color: #65DAFF;
    margin-bottom: 50px;
}

.section-text{
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    color: white;
}

body{
    background-color: #222222;
}

.nav-menu{
    position: fixed;
    background-color: #222222;
    width: 100%;
    height: 80px;
    box-shadow: 0 5px 20px  rgba(0, 0, 0, 0.7);
    line-height: 80px;
    z-index: 100;
}

.logo{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.navigation{
    float: right;
}

.nav-item{
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    margin-left: 10px;
    transition: 0.5s;
}

.nav-item:hover{
    color: #65DAFF;
    text-shadow: 0 0 5px #65DAFF;
}

.site-header{
    height: 80vh;
    background: url("img/apex-legends-pathfinder-robot-emoticons-saluting-futuristic.jpg") center/cover no-repeat;
    position: relative;
}

.header-content{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

.header-title{
    color: #4E4E4E;
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 50px;
}

.header-sub-title{
    font-size: 50px;
    color: #4E4E4E;
    margin-bottom: 50px;
}

.header-btn{
    width: fit-content;
    display: block;
    padding: 30px 80px;
    background:  linear-gradient(45deg, #65DAFF, #70FFCB);
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.header-btn:hover{
    transform: scale(1.1);
}

.header-btn:active{
    background: linear-gradient(45deg, #347083, #388065);
}

.about{
    height: 40vh;
    text-align: center;
}

.about-card{
    margin-top: 100px;
    display: inline-block;
    width: 24%;
    height: 200px;
    text-align: center;
    vertical-align: top;
}

.about-card-img{
    height: 130px;
    margin-bottom: 30px;
}

.about-card-title{
    font-size: 30px;
    color: #65DAFF;
}

.games-container{
    margin-top: 100px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
    padding: 30px;
    text-align: center;
}

.games-card-img{
    background: url("img/csgo.jpg") left/cover no-repeat;
    width: 49%;
    height: 350px;
    display: inline-block;
    vertical-align: top;
}

.gm2{
    background: url("img/dota2.jpg") left/cover no-repeat;
    width: 49%;
    height: 350px;
    display: inline-block;
    vertical-align: top;
}

.gm3{
    background: url("img/apex.jpg") left/cover no-repeat;
    width: 49%;
    height: 350px;
    display: inline-block;
    vertical-align: top;
}

.games-card-content{
    display: inline-block;
    width: 49%;
    min-height: 350px;
    vertical-align: top;
    text-align: left;
    padding: 0 15px;
}

.game-title{
    font-size: 25px;
    color: #70FFCB;
}

.game-divider{
    width: 130px;
    border: none;
    height: 3px;
    background-color: #70FFCB;
    margin: 20px 0;
}

.about2-title{
    font-size: 30px;
    color: #65DAFF;
    text-align: center;
    padding: 20px;
}

.about2-text{
    text-align: center;
    color: white;
}

.discord-title{
    font-size: 30px;
    color: #65DAFF;
    text-align: center;
    padding: 20px;
}

.discord-container{
    margin-top: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
    padding: 30px;
    text-align: center;
}

.discord-text{
    font-size: 30px;
    color: #65DAFF;
    text-align: center;
    padding: 20px;
}

.discord-frame{
    background-color: #65DAFF;
    padding: 50px 20px;
}

.discord-button-title{
    display:inline-block;
    color: white;
    width: 300px;
    text-align: left;
}

.discord-button{
    display: inline-block;
    width: 200px;
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;
}

.discord-hr{
    margin: 50px auto;
    width: 300px;

}